.login-box {
  align-items: center;
  background-color: whitesmoke;
  border: 1.5px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  width: 350px;
}

.login-box input, button {
  width: 50%;
}