.container-login {
  align-items: center;
  border: solid 1.5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  margin-left: 40%;
  margin-top: 15%;
  padding-bottom: 20px;
  width: 240px;
}
