.header-wallet {
  align-items: center;
  border: solid 1.5px;
  display: flex;
  justify-content: space-between;
  padding: 1px 40px;
}

h1 {
  color: rgb(33, 100, 33);
}

select {
  border: solid 1.5px;
  border-radius: 20px;
  padding: 2px 4px;
}

.div-email-total {
  display: flex;
}

.div-total {
  display: flex;
  margin-left: 30px;
}

.element-total {
  margin-left: 5px;
}

.form-wallet {
  background-color: rgb(33, 100, 33);
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

.form-edit {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

input , select {
  background-color: white;
  margin-left: 5px;
}

.tr-title {
  background-color: gray;
}

th {
  padding: 10px 25px;
  text-align: center;
}

td {
  text-align: center;
}

.btn-del {
  background-color: red;
}

.btn-edit {
  background-color: yellow;
  margin-right: 10px;
}
