.table-container {
  width: 99vw;
}

.table-container tr {
  display: flex;
  width: 100vw;
}

.table-container th , td {
  flex: 1;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.table-container th {
  background-color: rgb(228, 220, 146);
  
}

.btn-icon {
  background-color: white;
}

/* .btn-delete {
  background-color: brown;
  color: white;
}

.btn-edit {
  background-color: goldenrod;
  color: white;
} */
