.header {
  background-color: rgb(90, 170, 101);
  display: flex;
  width: 100%;
}

.header-title {
  padding-left: 15px;
}

.container-head {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
