.container-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0 20px;
}

.container-form input {
  height: 30px;
}

.container-form button {
  cursor: pointer;
  height: 30px;
}

.input-value {
  width: 80px;
}
