.header {
  background-image: url(https://image.freepik.com/free-vector/money-transfer-global-currency-stock-exchange-background_115579-579.jpg);
  height: 15vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  min-height: 100px;
  filter: saturate(1.0) hue-rotate(-20deg) drop-shadow(0px 3px 1px  rgb(0, 0, 99));
  margin: 0px 0px 0.5% 0px;
  color: navajowhite;
}


.logo {
  height: 14vh;
  grid-column: 1;
  justify-self: center;
  min-height: 85px;
  filter: hue-rotate(30deg);
}

.right {
  grid-column: 4;
    align-self: center;
    justify-self: center;
    padding: 0px 15%;
    font-size: 2.2vh;
}