* {
  font-size: 15px;
  color: black;
}

.description {
  display: inline-block;
  text-align: center;
  width: 200px;
}

.tag {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.method {
  display: inline-block;
  text-align: center;
  width: 200px;
}

.value {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.currency {
  display: inline-block;
  text-align: center;
  width: 170px;
}

.exchange {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.convert-value {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.convert-currency {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.edit-exclude {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.sign {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 10px;
}

