html {
background-color: #6C7A89;
}

.App-header {
  align-items: center;
  background-color: #6C7A89;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: space-around;
  min-height: 50px;
}

.form-table {
  align-items: center;
  background-color: #282c34;
  color: #20db99;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.form-table input , select , button {
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 3px;
}

.expenses-table {
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.expenses-table table , th , td {
  align-self: stretch;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  text-align: center;
  transition: 0.5s;
}

.YButton {
  background-color: orange;
}

.RButton {
  background-color: crimson;
}

table td:hover {
  background-color: #282c34;
  color: #20db99;
  opacity: 0.8;
}