.header-component {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 50px;
  width: 90vw;
}

.header-info {
  display: flex;
  justify-content: flex-end;
}

.header-currency {
  margin-left: 50px;
}
