body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  width: 100%;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header {
  align-items: center;
  background: #1abc9c;
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.form-despesa {
  align-items: flex-start;
  background-color: cornsilk;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

table , th , td {
  background-color: cornsilk;
  color: #282c34;
  font-size: 0.8em;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

th , td {
  border-bottom: 1px solid #ddd;
}
