body {
  background-image: url(https://cdn.finfeed.com/images/FX.2e16d0ba.fill-768x432.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  backdrop-filter: brightness(0.3) saturate(1.4) hue-rotate(45deg);
}