.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.login {
  border: solid 1px lightgrey;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  max-width: 320px;
  padding: 2em 1%;
}

.send-button:disabled {
  background-color: lightgrey;
}

.send-button {
  background-color: #00aa00;
  color: #fff;
  font-weight: 700;
  margin: 1em 0;
  padding: 0.5em 5em;
}
