body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-fields input {
  padding: 8px 16px;
}

.login-fields button {
  background-color: green;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 8px 16px;
  text-decoration: underline green;
}

.login-header {
  background-color: rgba(60, 99, 130,1.0);
  border: 0;
  color: whitesmoke;
  padding: 16px;
  text-align: center;
}

/* EXPENSES FORM */
header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.expenses-title {
  display: flex;
  justify-content: center;
  margin: 16px 32px;
}
.expenses-form {
  display: flex;
  justify-content: center;
}
.expenses-fields {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 16px;
  flex-direction: row;
  background-color: rgb(248, 233, 166);
  margin-right: 0; 
}

.expenses-form label {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8px;
}

.expenses-form input, .expenses-form select {
  padding: 4px 8px;
  margin-top: 4px;
  border: none;
}

.expenses-form button {
  background-color: rgb(238, 203, 46);
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  padding: 8px 16px;
  text-transform: uppercase;
}